#built app files
*.apk
*.ap_

#dex vm
*.dex

#local config
local.properties

*.iml
.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
